.App {
  text-align: center;
}
h1 {
  font-weight: bold;
  color: rgb(169, 204, 53);
  margin-top: 20px !important;
  margin-bottom: 35px !important;
  word-spacing: 10px;
  font-family: "Staatliches", cursive;
}
